@if (internalPalette(); as p) {
  <div
    class="bg-white rounded-2xl shadow-sm border border-slate-100 overflow-hidden hover:shadow-xl transition-all duration-300 group/card w-full max-w-md flex flex-col"
  >
    <div class="flex h-44 w-full overflow-hidden">
      @for (
        color of [p.primaryColor, p.secondaryColor, p.thirdColor, p.fourthColor, p.fifthColor];
        track $index
      ) {
        <div
          [style.backgroundColor]="color"
          (click)="copyToClipboard(color)"
          class="flex-1 h-full relative group/color cursor-pointer transition-all duration-500 ease-in-out hover:flex-[1.4] flex items-center justify-center"
        >
          <div
            class="opacity-0 group-hover/color:opacity-100 transition-opacity duration-300 flex flex-col items-center gap-2 bg-black/10 w-full h-full justify-center backdrop-blur-[2px]"
          >
            <lucide-icon
              [img]="copiedColor() === color ? icons.check : icons.copy"
              [size]="20"
              class="text-white drop-shadow-md"
            ></lucide-icon>
            <span class="text-[10px] font-bold text-white drop-shadow-md uppercase tracking-widest">
              {{ copiedColor() === color ? 'Copiado!' : color }}
            </span>
          </div>
        </div>
      }
    </div>

    <div class="p-5 flex flex-col gap-5">
      <h3 class="font-bold text-slate-800 truncate text-lg tracking-tight">{{ p.name }}</h3>

      <div class="flex items-center justify-between mt-auto">
        <div class="flex items-center gap-2.5">
          <div
            class="w-8 h-8 rounded-full bg-slate-100 flex items-center justify-center border border-slate-200"
          >
            <span class="text-[10px] font-black text-slate-500 uppercase">
              {{ p.user.username.substring(0, 2) }}
            </span>
          </div>
          <span class="text-xs font-bold text-slate-400">@{{ p.user.username }}</span>
        </div>

        <div class="flex items-center gap-1">
          <button
            (click)="like()"
            class="flex items-center gap-1.5 px-3 py-1.5 rounded-lg transition-all active:scale-95"
            [ngClass]="p.isLiked ? 'text-pink-600 bg-pink-50' : 'text-slate-400 hover:bg-slate-100'"
          >
            <lucide-icon
              [img]="icons.heart"
              [size]="16"
              [class.fill-current]="p.isLiked"
              [class.fill-none]="!p.isLiked"
            ></lucide-icon>
            <span class="text-xs font-bold">{{ p.likesCount }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
}
